extends ../layout2

block content
  h1= 'Crear alumnos'
  a(class=["navbar-brand"], href="alumnos/mostrar") Ver Alumnos
  form(action='alumnos/creando', method='POST')
    label Nombres :
    input(class=['col-5'] , 
      type='text'
      name='nombres'
    ) 
    br
    label Apellidos :
    input(
      type='text'
      name='apellidos'
    )
    br
    label Correo :
    input(
      type='text'
      name='correo'
    )
    br
    label Codigo Pregrado :
    input(
      type='text'
      name='codigoPregrado'
    )
    br
    button(
      type='submit'
    ) Crear alumno
